body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans','sans-serif';
  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82%, rgba(227, 255, 248, 0.38) 100%);
  min-height: 100hv;
}

.page{
  width: 1000px;
  margin: 0px auto 0;
  padding-top: 65px;
}

nav{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 55px;
}

ul{
  display: flex;
  gap: 48px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Mulish', sans-serif;
}

ul li a{
  opacity: 0.5;
  text-decoration: none;
  color: #1F1534;
}

ul li a:hover{
  opacity: 1;
  font-weight: bold;
}

main{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section p{
  margin: 40px 0 40px;
}

h1{
  font-family: 'Mulish', sans-serif;
  line-height: 56px;
  font-size: 49px;
  font-weight: normal;
  width: 490px;
}

h1 span {
  font-weight: bold;
  color: #89C5CC;
}

p{
  font-size: 14px;
  line-height: 28px;
  color: #7D7987;
}

button{
  font-family: 'Open Sans','sans-serif';
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #69B99D;
  border: none;
  padding: 14px 32px 15px;
  border-radius: 4px;
  gap: 10px;
  cursor: pointer;
}

button:hover{
  background-color: #5a9e86;
}

footer{
  font-size: 14px;
  font-weight: 28px;
  text-align: center;
  margin-top: 80px;
}

#balls{
  position: fixed;
  bottom: 0;
  right: 0;
}
